@media (max-width: 500px){
    .logo {
        display:none;
        visibility: hidden;
    }
    
    #loader {
        width: 200px;
        height: 200px;
        margin-top: 45%;
    }

    #toolBar{
        margin-left: 20px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
      }
      thead tr {
        position: absolute;
        display: none;
    }

    tr { 
        border: 1px solid #ccc; 
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 200px;
        margin-left: 110px;
    }
    
    td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 200px;
        padding-right: 40px;
        white-space: nowrap;
        margin-left: -150px;
    }

      td:nth-of-type(1):before { content: "id"; }
      td:nth-of-type(2):before { content: "First Name"; }
      td:nth-of-type(3):before { content: "Last Name"; }
      td:nth-of-type(4):before { content: "Capsule";}
      td:nth-of-type(5):before { content: "Age";}
      td:nth-of-type(6):before { content: "City";}
      td:nth-of-type(7):before { content: "Gender";}
      td:nth-of-type(8):before { content: "Hobby";}
}


@media(min-width:501px) and (max-width: 768px){
    .logo {
        display: none;
        visibility: hidden;

    }
    #table thead tr th {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
    }
    .container{
        width: 740px;
    }

}

