*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/images/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    position: absolute;
    position: fixed;
    left:0;
    transform: rotate(-20deg);
    margin-top: 50px;
    margin-left: 20px;
    width: 250px;
    height: 250px;
    background: url(/images/loaderGroup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
      
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(-20deg); }
    10% { transform: translate(-1px, -2px) rotate(-21deg); }
    30% { transform: translate(3px, 2px) rotate(-20deg); }
    50% { transform: translate(-1px, 2px) rotate(-21deg); }
    60% { transform: translate(-3px, 1px) rotate(-20deg); }
    70% { transform: translate(3px, 1px) rotate(-21deg); }
    90% { transform: translate(1px, 2px) rotate(-20deg); }
    100% { transform: translate(1px, -2px) rotate(-21deg); }
}
   
#loader {
    position:absolute;
    background: url(/images/loading.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin-top: 15%;
    display: none;
    z-index: 1;
}

#toolBar{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    color:#208495;
    font-weight: bold;
}

#toolBar #searchInput{
    height: 40px;
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:#44b5c8;
    border-width:thick;
    background: none;
    outline: none;
    font-size: 20px;
}

#toolBar #select{
    height: 40px;
    border-color:#44b5c8;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    background: none;
}


/* table */
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color: white;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 10px;
  width: 130px;
  text-align: center;
}

#table tr:hover{
    background-color: rgba(186,255,201);
}

#table thead tr th {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #44b5c8;
  color: white;
}

tbody:nth-child(even){
    background-color: rgba(175, 218, 231,0.6);
}

.editInput{
    width: 100px;
    height: 30px;
    font-size: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-color:#44b5c8 ;
}

#table tr td i {
    color: #44b5c8;
    cursor: pointer;
}