#loader {
    position:absolute;
    background: url(/css/corona-virus.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: spin 2s linear infinite;
    margin-top: 15%;
    display: none;
    z-index: 1;
}
  

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#toolBar{
    margin-top: 20px;
    margin-bottom: 30px;
}

#table{
    border: solid black;
    padding: 10px;
    font-size: 20px;
    width: 1200px;
}

#table td{
    padding-left: 10px;
}

.editInput{
    width: 90px;
    font-size: 1rem;
}